
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bug Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/a2cbb46ec8.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-white shadow">
        <div class="container-fluid">
            <a class="navbar-brand ml-5 text-warning" href="/"><i class="fas fa-bug"></i> bug tracker</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                @{ Html.RenderAction("Navbar", "Notifications");}
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>

    <div class="wrapper d-flex align-items-stretch">
        @{ Html.RenderAction("SideMenu", "Notifications");}
        @*@Html.Partial("_SideMenuPartial")*@

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <div class="container-fluid body-content pt-5">
                @if (User.Identity.Name == "demo@bugtracker.com")
                {
                    <h1 class="text-center">*DEMO*</h1>
                    <p class="text-center border-bottom">Please be mindful that others have access to this demo account</p>
                }

                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Bug Tracker made by Jordan McCollam using ASP.NET</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/lib")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
