@model BugTracker.Models.Issue

<div id="create-issue-modal" class="modal scale-in-center" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateIssue", "Projects"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(m => m.ProjectId)
                        <select class="form-control" id="ProjectId" name="ProjectId">
                            @foreach (var project in ViewData["Projects"] as IEnumerable<BugTracker.Models.Project>)
                            {
                                <option value="@project.Id">@project.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Type)
                        <select class="form-control" id="Type" name="Type">
                            <option value="idea">Idea</option>
                            <option value="todo">Todo</option>
                            <option value="in-progress">In-Progress</option>
                            <option value="done">Done</option>
                        </select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.AssignedTo)
                        @Html.TextBoxFor(m => m.AssignedTo, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>

                    @Html.HiddenFor(m => m.ProjectId, new { Value = Model.ProjectId})

                    <button class="btn btn-warning rounded" type="submit">Create</button>
                }
            </div>
        </div>
    </div>
</div>